<form class="w-50 position-absolute top-50 start-50 translate-middle" [formGroup]="loginForm">
    <div class="class=" input-group has-validation>
        <div class="mb-3">
            <label class="form-label">User Name</label>
            <input class="form-control" aria-describedby="userName" formControlName="userName">
        </div>
        <small class="text-danger" *ngIf="isEmpty">
            The field can't be empty.
        </small>
        <small class="text-danger" *ngIf="!isEmpty && !isValidUser">
            The user doesn't exist.
        </small>
    </div>
    <button type="button" class="btn btn-primary justify-content-end" (click)="handleLogin()">Log In</button>
</form>